.set1
{
    background-color: indianred;
    font-size: 30px;
    border: 1px black;
    margin: 2px;
}
.set2
{
    background-color: darkslategrey;
    font-size: 15px;
    font-family: cursive;
    padding: 1%;
}
.set3
{
    font-family: sans-serif;
    background-color: rgb(168, 168, 168);
    padding: 10px;
    border: 25px solid black;
    margin: 5px;
    width: 200px;
    /* float: left; */
    position: absolute;
    border-radius: 0 150px 150px 0;
    top: 50%;
    left : 50%;
    transform: translate(-50%,-50%);

}
.demo1
{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightblue;
}
.demo1:hover
{
    color: darkblue;

}
li{
    display: none;
}

.list{
    background-color: lightblue;
    height: 1em;
}
.list:hover li{
    display: list-item;
}
