body
{
    background-color: white;
    color:black;
    font-family: 'Ubuntu', sans-serif;
}
.box1
{
    border: 1px solid white;
    margin: 5px;
    padding: 20px;
    display: none;
}
.formbox
{
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
}
.red-box
{
    background-color: red;
}
.dark-theme
{
    background-color: #202020;
    color:white;
}
.but1
{
    padding: 10px;
}
.sendbut
{
    padding: 10px;
}
.scroll-info
{
    background-color: gold;
    font-size: 20px;
    position: fixed;

}
.contact
{
    border: flat;
    border-radius: 50px;
    background-color: lightsalmon;
    font-size: 50px;
    color: #202020;
    position: fixed;
    bottom: 50px;
    right: 50px;

}
.header-menu
{
    background-image: linear-gradient(90deg, rgba(25, 136, 247, 1) 0%, rgba(247, 25, 136, 1) 100%);
    box-shadow: 3px 3px 9px 6px rgba(0, 0, 0, 0.17);
    color: aliceblue;
    position: fixed;
    padding: 5px;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}
.footer-bar
{
    color: aliceblue;
    background-color: #202020;
    text-align: center;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
}
.bg-image
{
    background-color: #666666;
    background-image: url('000002.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding:  150px 40px;
    text-align:center ;
  
    
}
.grid-test
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;

}
.content
{
    background-color: gold;
    padding: 10px;
    border: 1px solid #202020;
    box-sizing: border-box;
}