body
{
    background-color: white;
    color:black;
    font-family: 'Ubuntu', sans-serif;
}
.box1
{
    border: 1px solid white;
    margin: 5px;
    padding: 20px;
    display: none;
}
.formbox
{
    border: 1px solid white;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
}
.red-box
{
    background-color: red;
}
.dark-theme
{
    background-color: #202020;
    color:white;
}
.but1
{
    padding: 10px;
}
.sendbut
{
    padding: 10px;
}
.scroll-info
{
    background-color: gold;
    font-size: 20px;
    position: fixed;

}
.contact
{
    border: flat;
    border-radius: 50px;
    background-color: lightsalmon;
    font-size: 50px;
    color: #202020;
    position: fixed;
    bottom: 50px;
    right: 50px;

}