<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="container">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dolor! </h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dolor! </h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dolor! </h3>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dolor! </h4>
    </div>
    

    <div>
         <input class="set1" id="input1" type="number">
        <input class="set1" id="input2" type="number">
        <button id="but1" class="btn btn-primary">Enter</button>
        <button id="but2" class="btn btn-primary">Clear</button>
        <div id="message" class="set2"></div>
    </div>
   
    
    
    <!-- (.content#topic$>((h2>lorem5)+(.text>lorem10)+a[href="#top"]>{go to top}))*10 -->
    
    <div class="demo1">
        Lorem ipsum dolor sit amet.
    </div>
    <ul class="list">
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Natus ducimus maxime suscipit aliquid.</li>
        <li>Quam vitae numquam ut dignissimos.</li>
        <li>Quis impedit cum asperiores explicabo!</li>
        <li>Quisquam saepe aliquid iusto sit.</li>
    </ul>

    <div class="bg-image">
        <h1 class="fg-image">
            this is my web site
        </h1>

    </div>
    
</body>
<script src="/js/func.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
    
</html>